.container-fluid{
    background-color: black;
}
.nav-link{
    color: white;
  cursor: pointer;
    transition: color 0.5s;
}
   
.nav-link:hover {
    background-color: rgb(8, 103, 21);
  }

.logo{
    width:30px;

}

.titulo{
    text-align: center;
}

/* Estilos CSS para las tarjetas y el carrusel */
.carousel {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 250px;
    margin-right: 20px;
    scroll-snap-align: start;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
  }

  /* Estilos CSS para el icono de editorial */
.editorial-icon {
    float: left;
    margin-right: 2px;
  }
  
  
  .logotipos {
    max-width: 100%;
    height: 50%;
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }
  
  .precio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .precio-icon {
    width: 50%;
    height: 50%;
    padding-top: 25%;
    padding-left: 10%;
    transition: filter 0.1s ease;
  }
  
  .precio-icon:hover {
    filter: brightness(0) invert(1);
  }
  
  .editorial {
    width: 5%;
  }
  
  .autor {
    font: size 8px;
    color: rgba(124, 121, 121, 0.779);
    line-height: 17.05pt;
  }
  
  .editorialtext {
    font-size: small;
    color: rgba(124, 121, 121, 0.61);
  }
  
  .preciotext {
    background: linear-gradient(to right, #5f29ff, #4d1df9, #3f0bfc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18pt;
    font-weight: 800px;
    line-height: 17.05pt;
  }
  
  .preciotexts {
    font-size: 2pt;
    font-weight: 100px;
    color: rgba(124, 121, 121, 0.68);
    line-height: 1.05pt;
  }
  
  .hover-info {
    font-size: 8pt;
    color: rgb(67, 66, 66);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  @media screen and (max-width: 850px) {
    .carousel {
      display: flex;
    }
  }
  .link{
    justify-content: center;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 0;
  }
  